.modal {
  position: fixed;
  width: 100%;
  height: auto;
  padding: 20px;
  padding-bottom: 123px;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  background: var(--black);
  z-index: 5;
  display: none;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-bottom: 272px;
  }

  @media (min-width: $desktop-width) {
    width: 1163px;
    height: 595px;
    top: 84px;
    padding-bottom: 120px;
    left: calc(50% - 1163px / 2);
  }
}

.modal__menu {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  list-style: none;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.modal__item {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.modal__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  font-family: $font-raleway;
  text-transform: uppercase;
  color: var(--basic-white);

  @media (min-width: $tablet-width) {
    font-size: 35px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 42px;
    color: var(--grey-blue);
  }
}

.modal__social {
  width: 190px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 460px;
    margin-top: 170px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__social-svg {
  display: block;
  margin: 0 auto;
  fill: var(--basic-white);

  &--vkontakte,
  &--instagram {
    width: 22px;
    height: 22px;
  }

  &--facebook {
    width: 12px;
    height: 22px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.modal__close {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  border: none;
  background: url("../img/stack.svg#close") 50% 50% no-repeat;
  background-size: 40px 40px;
  cursor: pointer;
  order: 0;

  &:hover {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    opacity: 0.5;
  }
}

.show {
  display: flex;
}