.video {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 13px 1fr 13px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 35px 1fr 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1360px 1fr;
  }
}

.video__play {
  width: 100%;
  height: auto;
  grid-column: 2 / -2;
  grid-row: 2 / -1;
}