@font-face {
  font-family: "Muller";
  src:
    url("../fonts/Muller_ru.woff2") format("woff2"),
    url("../fonts/Muller_ru.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src:
    url("../fonts/MullerThin.woff2") format("woff2"),
    url("../fonts/MullerThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src:
    url("../fonts/Myriad Pro.woff2") format("woff2"),
    url("../fonts/Myriad Pro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("../fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}