.body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}