@import "fonts.scss";
@import "global.scss";
@import "variables.scss";
@import "blocks/header.scss";
@import "blocks/modal.scss";
@import "blocks/advantages.scss";
@import "blocks/portfolio.scss";
@import "blocks/services.scss";