@import "fonts.scss";
@import "global.scss";
@import "variables.scss";
@import "blocks/body.scss";
@import "blocks/header.scss";
@import "blocks/modal.scss";
@import "blocks/advantages.scss";
@import "blocks/portfolio.scss";
@import "blocks/services.scss";
@import "blocks/video.scss";
@import "blocks/Job.scss";
@import "blocks/contacts.scss";
@import "blocks/reviews.scss";
@import "blocks/footer.scss";